.sidebar{

    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    background-color: white;

    width: 72px;
    padding-top: 5px;
    z-index: 200;
    position: fixed;
}

@media (max-width : 531px){
    .sidebar {
        visibility: hidden;
    }
    body {
        padding-left: 0px;
        padding-right: 5px;
    }
    .Search-button{
        width: auto;
        margin-left: -3px;
    }
}

.sidebar-link {
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div{
    margin-top: 7px;
    font-family: Roboto , Arial, Helvetica, sans-serif;
    font-size: 10px;
}

